@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: #385363;
  font-family: 'Pangolin', cursive;
  height: 100%;
  margin: 20 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
hr {
  border: 2px solid rgb(255,255,255,0.2);
  border-radius: 2px;
  margin: 20px;
}

#clock {
  font-family: Comfortaa;
}